div.powiadomienie{
    background-color: #FFFFFFcc;
    border: 3px solid white;
    border-radius: 2px;
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 250px;
    z-index: 10;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.zamkniecie{
    position: absolute;
    color: black;
    transition: 0.1s;
    top: 5px;
    right: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0px;
    background-color: #00000000;
    font-size: 20px;
}
.zamkniecie:hover{
    color: red;
    transition: 0.2s;
    cursor: pointer;
    border: 0px;
}


.mapClass{
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}